!!!5
html(ng-app="myApp")
  head
    meta(charset='utf8')
    base(href='/')
    title Angular Express Seed App
    link(rel='stylesheet', href='/css/style.css')
  body
    header
      h1 MeanBlog
    .container
      div
        nav
          ul
            li
              a(href='/') Home
            li
              a(href='/addPost') Add a new post
      .main-content
        block content
      .sidebar
        block sidebar
    footer
      p
        div MeanBlog App: v
          span(app-version)