body {
  font-family: 'Georgia';
  color: #444;
}
header {
  font-family: 'Quicksand';
  padding: 17px 10px;
  color: #ccc;
  font-size: 25px;
  text-align: center;
  background-color: #d2691e;
}
/* Nest rules */
nav {
  margin: 10px;
}
nav ul {
  list-style-type: none;
  background-color: #555;
}
nav ul > li {
  display: inline-block;
  margin: 10px;
  color: #ece9e9;
}
nav ul > li > a {
  display: inline-block;
  color: #ece9e9;
}
nav ul > li.current {
  background-color: #add8e6;
}
footer {
  text-align: center;
  font-weight: bold;
  margin-top: 6%;
}
.container {
  font-size: normal;
}
.main-content {
  margin-left: 5%;
  text-align: left;
}
.main-content > a {
  font-size: x-small;
  color: #8a2be2;
  text-decoration: underline;
}
